body {
  background: #eeeef4;
  color: #eeeef4;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 27pt;
  color: #36b;
}

.big-gear {
  fill: #eeeef4;
  stroke: #36b;
}

.small-gear {
  fill: #36b;
  stroke: #eeeef4;
}

p {
  font-weight: 300;
}

.warning-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 300px;
  text-align: center;
  margin: -133px 0;
}

.lower {
  position: absolute;
  width: 100%;
  background: #36b;
  height: 50%;
  top: 50%;
  z-index: -1;
}
